{% extends 'base.html' %}
{% block content %}

  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-pencil-alt"></i> {{name}}</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- SEARCH -->
  <section id="search" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
      {% if user.is_staff %}
      <div class="col-md-4">
          <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addUserModal">
            <i class="fas fa-plus"></i> Add {{name}}
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- POSTS -->
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
          {% if details %}
            <div class="card-header">
              <h4>All {{name}}</h4>
            </div>
            <table class="table table-responsive-md table-striped">
              <thead class="thead-dark">
                <tr>
                {% for i in heading %}
               <th> {{ i }}</th>
                {% endfor %}
                </tr>
                <tr>

                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Contact</th>
                </tr>
              </thead>
              <tbody>
              {% for data in details %}
              <tr>
              <td>{{forloop.counter}}</td>
              <td> {{ data.idteacher }} </td>
              <td> {{data.subject}}</td>
              <td>{{data.type}}</td>
              <td>{{data.start_time}}</td>
              <td> {{data.end_time}}</td>
              </tr>
              {% endfor %}
                
              </tbody>
            </table>
            
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

   <div class="modal fade" id="addUserModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Add {{name}}</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <form method="post" action="{% url 'add_batch' %}">
        {% csrf_token %}
        <div class="modal-body">
          
            <div class="form-group">
              <label for="name">Teacher Id</label>
              <input type="text" name="id" class="form-control">
            </div>
            <div class="form-group">
                  <label for="subject">Subject</label>
                <select name="subject" id="type" class="custom-select">
                <option>Select any</option>
                <option value="Physics" {% if detail.subject3 == 'Physics' %} selected{% endif %}>Physics</option>
                <option value="Chemistry" {% if detail.subject3 == 'Chemistry' %} selected{% endif %}>Chemistry</option>
                <option value="Math" {% if detail.subject3 == 'Math' %} selected{% endif %}>Math</option>
                <option value="Bio" {% if detail.subject3 == 'Bio' %} selected{% endif %}>Bio</option>
            </select>
             </div>
             <div class="form-group">
                  <label for="type">Type</label>
             <select name="type" class="custom-select">
                <option>Select any</option>
                <option value="JEE" {% if detail.type == 'JEE' %} selected{% endif %}>JEE</option>
                <option value="MED" {% if detail.type == 'MED' %} selected{% endif %}>MED</option>
            </select>
            </div>
            <div class="form-group">
              <label for="start_time">Start Time</label>
              <input type="time" name="start_time" class="form-control">
            </div>
            <div class="form-group">
              <label for="end_time">End Time</label>
              <input type="time" name="end_time" class="form-control">
            </div>
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">Save Changes</button>
          <button class="btn btn-danger" data-dismiss="modal">Cancle</button>
        </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}

